<h4>
  <strong>Documents</strong>
</h4>
<div class="list-group">
  <a href="/documents/policy/" class="list-group-item {% if page.title == 'General Policy' %}active{% endif %}">General Policy</a>
  <a href="/documents/constitution/" class="list-group-item {% if page.title == 'Constitution' %}active{% endif %}">Constitution</a>
  <a href="/documents/usage_policy/" class="list-group-item {% if page.title == 'Usage Policy' %}active{% endif %}">Usage/Disclosure Policy</a>
  <a href="/documents/terms_of_service/" class="list-group-item {% if page.title == 'Terms of Service' %}active{% endif %}">Terms of Service</a>
  <a href="/documents/privacy_policy/" class="list-group-item {% if page.title == 'Privacy Policy' %}active{% endif %}">Privacy Policy</a>
  <a href="/documents/intellectual_property/" class="list-group-item {% if page.title == 'Intellectual Property' %}active{% endif %}">Intellectual Property</a>
  <a href="/documents/software_freedom/" class="list-group-item {% if page.title == 'Software Freedom' %}active{% endif %}">Software Freedom</a>
  <a href="/documents/logos/" class="list-group-item {% if page.title == 'Logos' %}active{% endif %}">Logos</a>
</div>