<div id="footerOuterSeparator"></div>
</div>
<div id="divFooter" class="footerArea">
    <div class="container">
        <div class="divPanel">
            <div class="row-fluid">
            </div>
            <br /><br />
            <div class="row-fluid">
                <div class="span12">
                    <p class="copyright">
                        Copyright © 2017 Mason Competitive Cyber.
                    </p>
                    <p class="social_bookmarks">
                        <a href="https://www.facebook.com/masoncompcyber"><i class="social "></i> Facebook</a>
            <a href="https://twitter.com/masoncompcyber"><i class="social "></i> Twitter</a>
            <a href="https://getconnected.gmu.edu/organization/masoncc/"><i class="social "></i> GetConnected</a>
            <a href="https://masoncc.slack.com/"><i class="social "></i> Slack</a>
                    </p>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
