<div class="footer">
    <div class="container">
        <br /><br />
        <p class="copyright">
            Email: masoncc@gmu.edu<br />
            Copyright © {{ 'now' | date: "%Y" }} Mason Competitive Cyber.
        </p>
        <p class="footer-links">
            <a href="https://www.facebook.com/masoncompcyber"><i class="social fab fa-facebook"></i>Facebook</a>
            <a href="https://www.instagram.com/masoncompcyber/"><i class="social fab fa-instagram"></i>Instagram</a>
            <a href="https://twitter.com/masoncompcyber"><i class="social fab fa-twitter"></i>Twitter</a>
            <a href="https://getconnected.gmu.edu/organization/masoncc/"><i
                    class="social fas fa-user-friends"></i>GetConnected</a>
            <a href="https://masoncc.slack.com/"><i class="social fab fa-slack"></i>Slack</a>
        </p>
        <br />
    </div>
</div>