{% include base_path %}

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | MasonCC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Title" content="Mason Competitive Cyber">
    <meta name="Keywords" content="gmu,cyber,mason,cybersecurity,ctf,club,org,masoncc">
    <meta name="Description" content="{{ page.description }}">
    <meta name="Subject" content="Cybersecurity">
    <meta name="Language" content="English">
    <meta property="og:image" content="https://competitivecyber.club/images/transparent.png" />
    <link rel="icon" href="/images/mcc.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/cascadiamono/stylesheet.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/default.js" type="text/javascript"></script>

</head>

<body id="pageBody">

    <nav class="main-navbar navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <div class="brand-primary">Mason Competitive Cyber</div>
                <div class="brand-secondary">GMU's Cybersecurity Organization</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/meeting">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join/">Join</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="docsMenu" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Docs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="docsMenu">
                            <li><a class="dropdown-item" href="/articles/gettingstarted">Beginners</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/articles/">Misc Articles</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://tctf.competitivecyber.club">TCTF</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/patriotctf/">⚡ PatriotCTF ⚡</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>