{% include base_path %}

<div class="jumbotron jumbostyle">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-3 col-xs-offset-2 col-xs-4">
        <img src="/assets/img/SRCT_sq_white_shadow.png" class="img-responsive" alt="SRCT's logo"/>
      </div>
      <div class="col-md-5">
        <p class="xolonium srct-title">Student-Run<br />Computing&nbsp;+<br />Technology</p>
      </div>
    </div>
  </div>
</div>