
<style>
.quotes {display: none;}
</style>


<div id="decorative1" style="position:relative">
    <div class="container">

        <div class="divPanel headerArea">
            <div class="row-fluid">
                <div class="span12">

                        <div id="headerSeparator"></div>

                        <div id="divHeaderText" class="page-content">
                            <div id="maintitle">Mason Competitive Cyber</div><br />
                            <div id="subtitle">
                                <div class="quotes">Learning Cybersecurity Through Competition</div>
                                <div class="quotes">Solving Silly Little Puzzles Since 2016</div>
                                <div class="quotes">Everyone's Favorite Shell Popping Patriots</div>
                                <div class="quotes">Who Needs Parties When You Can Have Binary Exploitation</div>
                                <div class="quotes">The Binary Exploitation and Forensic Appreciation Society</div>
                                <div class="quotes">If You Use Radare2, This Club's For You</div>
                                <div class="quotes">If You Like Battelle Employees, You'll Love Our Members</div>
                                <div class="quotes">@dhaynes pls</div>
                            </div><br /><br />
                            <div id="meetingbutton"><a class="btn btn-large btn-primary" href="/meeting/">Key Details</a></div>
                        </div>

                        <div id="headerSeparator2"></div>

                </div>
            </div>

        </div>

    </div>
</div>

<div id="contentOuterSeparator"></div>
