
<style>
.quotes {display: none;}

#videoDiv {width: 100%; height: 360px; position: relative;}
#videoBlock width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;}
#videoMessage {width: 100%; height:100%; position: absolute; top: 0; left: 0;}
#videoMessage *{padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99 }
#videoMessage h1{font-size: 2em;color:#ffffff;text-align:center;}
#videoMessage h2{font-size: 1.5em;color:#ffffff;text-align:center;}
#videoMessage h3{font-size: 1.2em;color:#ffffff;text-align:center;}
.videoClick {text-align:center}
.videoClick a{color:white;background-color:rgba(241, 241, 241, 0.25);font-size: 1.7em;cursor:pointer;cursor:hand}
</style>


<div id="decorative1" style="position:relative">
    <div class="container">

        <div class="divPanel headerArea">
            <div class="row-fluid">
                <div class="span12">
                    <div id="videoDiv">
                    <div id="videoBlock">
                    <video preload="preload"  id="video" autoplay="autoplay" loop="loop">
                    <source src="https://giant.gfycat.com/ResponsibleUnfinishedHawaiianmonkseal.webm" type="video/webm"></source>
                    <source src="https://giant.gfycat.com/ResponsibleUnfinishedHawaiianmonkseal.mp4" type="video/mp4"></source>
                    </video>
                    <div id="videoMessage">
                        <div id="headerSeparator"></div>

                        <div id="divHeaderText" class="page-content">
                            <div id="maintitle">Mason Competitive Cyber</div><br />
                            <div id="subtitle">
                                <div class="quotes">Learning Cybersecurity Through Competition</div>
                                <div class="quotes">Solving Silly Little Puzzles Since 2016</div>
                                <div class="quotes">Everyone's Favorite Shell Popping Patriots</div>
                                <div class="quotes">Learn How To Root Your Toaster</div>
                                <div class="quotes">Who Needs Parties When You Can Have Binary Exploitation</div>
                                <div class="quotes">The Binary Exploitation and Forensic Appreciation Society</div>
                                <div class="quotes">Professional Development, But Fun</div>
                                <div class="quotes">If You Use Radare2, This Club's For You</div>
                                <div class="quotes">If You Like Battelle Employees, You'll Love Our Members</div>
                                <div class="quotes">@dhaynes pls</div>
                            </div><br /><br />
                            <div id="meetingbutton"><a class="btn btn-large btn-primary" href="/meeting/">Key Details</a></div>
                        </div>

                        <div id="headerSeparator2"></div>

                </div>
            </div>

        </div>

    </div>
</div>

<div id="contentOuterSeparator"></div>
