.main-navbar {
	background-color: #006633;
}

.brand-primary {
	font-size: 20px;
	font-weight: bold;
}

.brand-secondary {
	font-size: 14px;
	font-weight: lighter;
}

.nav-item,
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Cascadia Mono", Consolas, "Courier New", Courier, monospace;
	font-display: block;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

body {
	padding-top: 6.7rem;
}

body, footer {
	font-family: 'Open Sans', Roboto, sans-serif;
	font-size: 16px;
}

#decorative1 {
	margin-top: -2rem;
	margin-bottom: -2rem;
}

.main-navbar .navbar-nav .nav-item {
	margin-left: 5px;
	margin-right: 5px;	
}

.center {
	text-align: center;
}

.homepage {
	margin-top: 10px;
}

.homepage .logo {
	max-width: 140px;
}

.homepage h1,
.homepage h2,
.homepage h3 {
	text-align: center;
}

// Sponsors

.homepage .sponsors img {
	max-height: 200px;
	margin: 10px;
}

.homepage .sponsors div {
	text-align: center;
}

.homepage .content-section {
	margin-top: 40px;
	margin-bottom: 40px;
}

#meeting-info {
	border: 3px solid #006633;
	padding: 7px 20px;
	display: inline-block;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer {
	background-color: rgb(245, 245, 245);
}

.footer .footer-links > a {
	margin-right: 10px;
	text-decoration: none;
}

.footer .footer-links > a > i {
	margin-right: 5px;
}

.notification {
	background-color: rgb(192, 0, 0);
	color: white;
	text-align: center;
	padding: 5px;
}

@media (min-width: 1400px) {
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
		max-width: 1140px;
	}
}