.main-navbar {
	background-color: #006633;
}

.brand-primary {
	font-size: 20px;
	font-weight: bold;
}

.brand-secondary {
	font-size: 14px;
	font-weight: lighter;
}

.nav-item,
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Cascadia Mono", Consolas, "Courier New", Courier, monospace;
	font-display: block;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

body {
	padding-top: 6.7rem;
}

body, footer {
	font-family: 'Source Sans Pro', Roboto, sans-serif;
	font-size: 16px;
}

#decorative1 {
	margin-top: -2rem;
	margin-bottom: -2rem;
}

.main-navbar .navbar-nav .nav-item {
	margin-left: 5px;
	margin-right: 5px;	
}

.center {
	text-align: center;
}

.homepage {
	margin-top: 10px;
}

.homepage .logo {
	max-width: 140px;
}

// Sponsors

.homepage .sponsor-img {
	max-height: 200px;
}

#meeting-info {
    border: 3px solid #006633;
    padding: 7px 20px;
    display: inline-block;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
}