/***** BASE CSS *****/

/* Headline Text */

#subtitle {
    display: inline-block !important
}

/* Header Area */

#decorative1 {
    margin-top: -2px;
    padding-top: 2px;
}

/* Responsive Image */

img {
    max-width: 100%;
    height: auto;
    width: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/***** BOOTSTRAP CSS BASE OVERRIDE *****/

#decorative1 {
    position: relative;
    background-color: rgb(240, 240, 240);
    background-image: url(/images/capone.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.7);
}

.breadcrumbs {
    line-height: 80px;
}

.breadcrumbs a {
    color: rgb(60, 160, 91);
}

#subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 11px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    padding: 3px 10px;
    background-position: initial initial;
    background-repeat: initial initial;
}

#divHeaderText {
    padding-top: 75px;
    padding-bottom: 0px;
    border-color: rgb(51, 51, 51);
    text-align: left;
}

#headerSeparator {
    margin-top: 7px;
    border-top-color: rgb(51, 51, 51);
    border-top-width: 0px;
    border-top-style: solid;
}

#headerSeparator2 {
    margin-top: 45px;
    margin-bottom: 18px;
}

.dropdown-menu {
    background-color: rgb(54, 54, 54);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dropdown-menu li>a {
    color: rgb(255, 255, 255);
}

.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active>a:hover, .dropdown-menu li>a:focus, .dropdown-submenu:hover>a {
    filter: none;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 150, 86);
    background-image: none
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.ddmenu .dropdown-menu li a {
    line-height: 29px;
    font-size: 15px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

@media (max-width: 979px) {

    .dropdown-menu .sub-menu {
        left: 0%;
        position: relative;
        top: 0;
        visibility: visible;
        margin-top: 3px;
        display: block
    }

    .dropdown-menu, .sub-menu {
        border-radius: 5px !important;
    }
}

@media (max-width: 767px) {

    #divHeaderText {
        margin: 0px;
        padding: 10px 0px;
    }

    .ddmenu {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .headerArea, .topArea {
        padding: 20px !important;
    }

    .dropdown-menu .sub-menu {
        left: 0%;
        position: relative;
        top: 0;
        visibility: visible;
        margin-top: 3px;
        display: block
    }

    .dropdown-menu, .sub-menu {
        border-radius: 5px !important;
    }
}